<%= turbo_frame_tag "modal" do %>
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-gray-500 opacity-75 transition-opacity" style="opacity: 0.75;" aria-hidden="true"></div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
        <h1 class="text-gray-800 font-semibold text-xl mb-4">New Blog Post</h1>
        <%= render  partial: "form", locals: {blog_post: @blog_post} %>
      </div>
    </div>
  </div>
<% end %>